# Rust
godot/addons/livestream-rust/bin

# Godot
godot/.godot/

web/public/*
!web/public/.gitkeep
web/node_modules
web/localhost-key.pem
web/localhost.pem

overlay/*

# Blender
*.blend[1-9]

# macOS
.DS_Store

